<html>
<head>
	<title>รวมเพลงพระราชนิพนธ์ </title>
<style> 

</style>
</head>
<body style="background-color: lightblue;">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>รวมเพลงพระราชนิพนธ์ </h1>
<img src= "http://thailandtopvote.com/wp-content/uploads/2016/10/%E0%B9%80%E0%B8%9E%E0%B8%A5%E0%B8%87%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%9E%E0%B8%99%E0%B8%98%E0%B9%8C-4.jpg" width="640" height="359">

</center>	

<center><a href="http://music.sanook.com/2382253/">รวมเพลงพระราชนิพนธ์ </a></center>
	
/<body>

</html>
