<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body style="background-color: rgba(255,255,0,0.3);">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>ชะตาชีวิต</h1>
</center>

<center>
	<br>นกน้อยคล้อยบินมาเดียวดาย คิดคิดมิวายกังวลให้หม่นฤทัยหมอง
<br>ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง หลงไหลหมายปองคนปรานี
<br>ขาดเรือนแหล่งพักพำนักนอน ขาดญาติบิดรและน้องพี่
<br>บาปกรรมคงมี จำทนระทม
<br>ท้องฟ้าสายัณห์ตะวันเลือน
<br>แสงลับนับวันจะเตือนให้ใจต้องขื่นขม
<br>หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม ชีวิตระทมเพราะรอมา
<br>จวบจันทร์แจ่มฟ้านภาผ่อง เฝ้ามองให้เดือนชุบวิญญา
<br>คิดคิดมิวายกังวลให้หม่นฤทัยหมอง ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง
<br>หลงไหลหมายปองคนปรานี ขาดเรือนแหล่งพักพำนักนอน
<br>หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม ชีวิตระทมเพราะรอมา
<br>จวบจันทร์แจ่มฟ้านภาผ่อง เฝ้ามองให้เดือนชุบวิญญา สักวันบุญมา ชะตาคงดี
</center>

<br><br>
<center><img src= "https://i.ytimg.com/vi/ktB8upGVfgE/maxresdefault.jpg" width="640" height="359"></center>


<center><a href="http://music.site.in.th/music/lyric/?sid=8109#.WRyUAWiGO00">ชะตาชีวิต</a></center>
	
</html>


