<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body style="background-color: rgba(255, 0, 0, 0.2);">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>ยามเย็น</h1>
</center>	

<center>
<br>แดด รอน ๆ เมื่อทินกรจะลับเหลี่ยมเม-ฆา
<br>ทอแสงเรืองอร่าม ช่าง งาม ตา ในนภาสลับ จับ อัม พร
<br>แดด รอน ๆ เมื่อทินกรจะลาโลกไป ไกล
<br>ยามนี้จำต้องพราก จาก ดวง ใจ ไกลแสนไกลสุดห่วง ยอด ดวง ตา
<br>แต่ก่อนเคยคลอเคลียกัน ทุกวันคืนรี่นอุรา
<br>ต้องอยู่เดียวเปลี่ยววิญญา เหมือนดัง นภา ไร้ ทินกร
<br>แดด รอน ๆ หากทินกรจะลาโลกไป ไกล
<br>ความรักเราคง อยู่ คู่ กัน ไป ในหัวใจคงอยู่ คู่ เชย ชม
<br>แดด รอน ๆ หมู่มวลภมรบินลอยล่องตาม ลม
<br>คลอเคล้าพฤกษาชาติ ชื่น เชย ชม ชมสมตามอารมณ์ ล่อง เลย ไป
<br>ลิ่ว ลม โชย กลิ่นพันธุ์ไม้โปรยโรยร่วงห่วงอา ลัย
<br>ยามสายัณห์พลันพราก จาก ดวง ใจ คอยแสงทองวันใหม่ กลับ คืน มา
<br>แต่ก่อนเคยคลอเคลียกัน ต้องอยู่เดียวเปลี่ยววิญญา
<br>เหมือนดังนภาไร้ทินกร
<br>โอ้ ยาม เย็น จวบยามนี้เป็นเวลา สุด อา วรณ์
<br>ยามไร้ความสว่างห่างทินกร ยามรักจำจะ จร จาก กัน ไป
</center>

<br><br>
<center><img src= "https://i.ytimg.com/vi/w1gf_TNM_Cw/maxresdefault.jpg" width="640" height="359"></center>

<center><a href="https://xn--72c9bva0i.meemodel.com/%E0%B9%80%E0%B8%99%E0%B8%B7%E0%B9%89%E0%B8%AD%E0%B9%80%E0%B8%9E%E0%B8%A5%E0%B8%87/%E0%B8%A2%E0%B8%B2%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B9%87%E0%B8%99_%E0%B9%80%E0%B8%9E%E0%B8%A5%E0%B8%87%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%99%E0%B8%B4%E0%B8%9E%E0%B8%99%E0%B8%98%E0%B9%8C">ยามเย็น</a></center>
	
</html>


